/* We use the `3d` version of the transform function in order to trigger GPU acceleration */

.preserve3d {
	transform-style: preserve-3d;
}

.front {
	transform: translate3d(0, 0, 30px);
}

.top {
	transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 30px);
}

.right {
	transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 30px);
}

.left {
	transform: rotate3d(0, 1, 0, -90deg) translate3d(0, 0, 30px);
}

.bottom {
	transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 30px);
}

.back {
	transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 30px);
}

@media (min-width: 520px) {
	.front {
		transform: translate3d(0, 0, 43px);
	}

	.top {
		transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 43px);
	}

	.right {
		transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 43px);
	}

	.left {
		transform: rotate3d(0, 1, 0, -90deg) translate3d(0, 0, 43px);
	}

	.bottom {
		transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 43px);
	}

	.back {
		transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 43px);
	}
}
