/* We use the `3d` version of the transform function in order to trigger GPU acceleration */

.preserve3d {
	transform-style: preserve-3d;
}

.front {
	transform: translate3d(0, 0, 50px);
}

.top {
	transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 50px);
}

.right {
	transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 50px);
}

.left {
	transform: rotate3d(0, 1, 0, -90deg) translate3d(0, 0, 50px);
}

.bottom {
	transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 50px);
}

.back {
	transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 50px);
}
