/* We use the `3d` version of the transform function in order to trigger GPU acceleration */

.preserve3d {
	transform-style: preserve-3d;
}

.front {
	transform: translate3d(0, 0, 50px);
}

.top {
	transform: rotateX(90deg) translateZ(50px);
}

.right {
	transform: rotateY(90deg) translateZ(50px);
}

.left {
	transform: rotateY(-90deg) translateZ(50px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(50px);
}

.back {
	transform: rotateX(180deg) translateZ(50px);
}
